asgiref==3.7.2
backports.statistics==0.1.0
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
cryptography==41.0.5
Cython==3.0.5
dl==0.1.0
ipaddr==2.2.0
keyring==24.3.0
mock==5.1.0
mypy_extensions==1.0.0
numpy==1.26.2
ordereddict==1.1
pyOpenSSL==23.3.0
python-dotenv==1.0.0
simplejson==3.19.2
typing_extensions==4.8.0
watchdog==3.0.0
wincertstore==0.2.1
zstandard==0.22.0
