/* Reset some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* General formatting */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  font-size: 2em;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h2 {
  color: #333;
}

article p {
  color: #555;
  padding: 6px;
}

a {
  transition: color 0.3s ease-in-out;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.blog-image {
  max-width:500px
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav a {
    font-size: 0.9em;
  }

  article {
    padding: 15px;
  }
}

/* Header title style */
.titlebar {
  text-align: center;
}
#wsite-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #333; /* Adjust the color to your liking */
  letter-spacing: 1px;
  text-decoration: none;
}
#wsite-title:hover {
  text-decoration: underline;
  transition: text-decoration 5s ease-in-out;
}

/* Navigation styles */
.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
.menu-toggle {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 5px auto;
}
.nav-list {
  list-style-type: none;
}
.nav-list li {
  display: inline-block;
  margin-right: 15px;
}
.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.nav-list a:hover {
  color: #0251ef;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  #wsite-title {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    text-align: left;
    padding: 10px;
    background-color: #333;
  }

  .nav-list li {
    display: block;
    margin: 10px 0;
  }

  .nav-list a {
    display: block;
  }

  .navbar.active .nav-list {
    display: block;
  }
}

 /* Style for code syntax */
.code-container {
  display: flex;
  align-items: baseline;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  overflow-x: auto; /* Enable horizontal scrolling for long lines of code */
  line-height: 1.4;
  font-size: 14px;
}
code {
  font-family: 'Courier New', monospace;
  color: #333;
  flex-grow: 1; /* Allow code block to grow and take remaining space */
}
.code-text {
  margin: 0px;
}
.line-numbers {
  display: flex;
  flex-direction: column; /* Display line numbers vertically */
  margin-right: 10px;
  color: #999;
}
.line-numbers-background {
  background-color: #e0e0e0;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
}
.line-highlight:hover{
  background-color: #ffe8b0;
  display: block;
  margin-right: -10px;
  margin-left: -10px;
  padding: 0 10px;
  border-left: 5px solid #ffc000;
}

/* Style for contact page */
div.contact-container {
  margin-top: 10px;
  text-align: center;
}
ul.contact-links {
  list-style-type: none;
  line-height: 1.75;
}
.link-with-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}
.link-with-logo img {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  margin-right: 8px;
}
.link-with-logo span {
  font-weight: bold;
}
.link-with-logo a {
  text-decoration: none;
  color: #333; /* Change the color as needed */
}
.link-with-logo a:hover {
  color: #0251ef;
}

.header {
  background-color: #f5f5f5;
  position: fixed; /* Set header position to fixed */
  top: 0; /* Align it to the top of the page */
  width: 100%; /* Set header width to full width */
  z-index: 999; /* Ensure the header is above other content */
  /* Your existing styles for header */
}

.content {
  padding-top: 80px; /* Adjust padding to accommodate the fixed header */
  /* Your existing styles for content */
}

/* Style for sidebar */
.sidebar {
  height: 100%;
  width: 130px;
  left: 0;
  position: fixed;
  background-color: #b9b6b6;
  overflow-x: hidden;
  padding-top: 12px;
}

.sidebar-header {
  font-size: 18px;
  text-align: center;
}

.sidebar-section {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  padding: 8px;
}

.sidebar a {
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  color: #3b3b3b;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.posts {
  margin-left: 130px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}