{% extends 'layout.html.j2' %}
{% from 'macros.j2' import unique_id %}
{% block content %}
<div class="main-wrapper">
    <div class="sidebar-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                Archive
            </div>
            <div class="sidebar-body">
                <ol>
                    {% for year in date_dict %}
                        <li class="sidebar-section"> 
                            <a href="{{ url_for("post", year=year) }}"> {{ year }} <a/>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-header">
                Topics
            </div>
            <div class="sidebar-body">
                <ol>
                    {% for tag in tags %}
                        <li class="sidebar-section"> 
                            <a href="{{ url_for("post", tag=tag) }}"> {{ tag }} <a/>
                        </li>
                    {% endfor %}
                </ol>
            </div>


        </aside>
    </div>
    <div class="posts">
        {% for post in post_array %}
        <article>
            {% if post['title'] %}
                <h2>
                    {% set date_arr = post['date'].split('/') %}
                    {% set date_str = date_arr[2] +"_"+ date_arr[0] +"_"+ date_arr[1] %}
                    <a href={{ url_for("post", date=date_str) }} >
                        {{ post['title'] }}
                    </a>
                </h2>
                <h4>
                    {{ post['date'] }}
                </h4>
            {% endif %}
            {% for paragraph in post['body'] %}
                <div>
                {% if paragraph['section_title'] %}
                    <h3>
                        {{ paragraph['section_title'] }}
                    </h3>
                {% endif %}
                {% if paragraph['text'] %}
                    <p>
                        {{ paragraph['text'] | safe }}
                    </p>
                {% endif %}
                {% if paragraph['code'] %}
                    {% set code_id = unique_id() %}
                    <div class="code-container" id="{{ code_id }}">
                        <div class="code-header">
                            <div class="code-language">
                                {{ paragraph['code']['type'] }}
                            </div>
                            <div class="code-actions">
                                <button class="copy-button" onclick="copyCodeSnippet('{{ code_id }}')">
                                    Copy
                                </button>
                            </div>
                        </div>
                        <div class="code-body">
                            <div class="line-numbers line-numbers-background">
                            {% for line in paragraph['code']['content'].splitlines() %}
                                <span>{{ loop.index }}</span>
                            {% endfor %}
                            </div>
                            <code>
                            {% for line in paragraph['code']['content'].splitlines() %}
                                <span class="line-highlight">
                                    <pre class="code-text">{{line}}</pre>
                                </span>
                            {% endfor %}
                            </code>
                        </div>
                    </div>
                {% endif %}
                {% if paragraph['image'] %}
                    <img class="blog-image" src="{{ url_for('static', filename=paragraph['image']) }}" />
                {% endif %}
                </div>
            {% endfor %}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}