{% extends 'layout.html' %}
{% block content %}
<div class="main-wrapper">
    <div class="sidebar-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                Archive
            </div>
            <div class="sidebar-body">
                <ol>
                    {% for year in date_dict %}
                        <li class="sidebar-section"> 
                            <a href="{{ url_for("post", year=year) }}"> {{ year }} </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-header">
                Topics
            </div>
            <div class="sidebar-body">
                <ol>
                    {% for tag in tags %}
                        <li class="sidebar-section"> 
                            <a href="{{ url_for("post", tag=tag) }}"> {{ tag }} </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </aside>
    </div>
    <div class="posts">
        {% for post in post_array %}
        <article>
            {% if post['title'] %}
                <h2>
                    {% set date_arr = post['date'].split('/') %}
                    {% set date_str = date_arr[2] +"_"+ date_arr[0] +"_"+ date_arr[1] %}
                    <a href="{{ url_for('post', date=date_str) }}" >
                        {{ post.title }}
                    </a>
                </h2>
                <h4>
                    {{ post['date'] }}
                </h4>
            {% endif %}
            {% from 'text_processor.html' import post_to_html %}
            {{ post_to_html(post) }}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
