{% extends 'layout.html' %}
{% block content %}
<div class="contact-container">
    <h2>Contact Me</h1>
    <div>
        <ul class="contact-links">
            <li class="link-with-logo">
                <img src="{{ url_for('static', filename='email.svg') }}">
                <span>Email: </span>
                <a rel="me" href="mailto:patrickvevans@gmail.com">patrickvevans@gmail.com</a>
            </li>
            <li class="link-with-logo">
                <img src="{{ url_for('static', filename='matrix.svg') }}">
                <span>Matrix: </span>
                <a rel="me" href="https://matrix.to/#/@holysoles:beeper.com">@holysoles:beeper.com</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}