{% extends 'layout.html.j2' %}
{% block content %}
<div class="contact-container">
    <h2>Contact Me</h1>
    <div>
        <ul class="contact-links">
           {% for item in contact_info %}
            <li class="link-with-logo">
                <img src="{{ url_for('static', filename=item["icon"]) }}">
                <span>{{ item["label"] + ": "}}</span>
                <a class="mask" rel="me" href="{{ item["href"] }}">{{ item["text"] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}