<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Patrick Evans</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/decode.js') }}"></script>
        <script type="text/javascript" defer src="{{ url_for('static', filename='scripts/copyCodeSnippet.js') }}"></script>
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header" role="banner">
            <span class="title">
                <a id="wsite-title" href="{{ url_for('home') }}">Patrick Evans</a>
            </span>
            <nav class="navbar">
                <div class="menu-toggle" id="mobile-menu" onclick="document.querySelector('.sidebar').classList.toggle('expand-sidebar')">
                </div>
                <ul class="nav-list">
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
                <div class="options">
                    <button class="dark-mode" onclick='document.body.classList.toggle("alt-color-mode")' aria-label="toggle-dark-mode"></button>
                </div>
            </nav>  
            <div class="contact-container">
                {% for item in contact_info %}
                <span class="link-with-logo">
                    <a class="{{ 'mask' if item['mask'] else 'unmasked' }}" rel="me" href="{{ item['href'] }}" target="_blank">
                        <img src="{{ url_for('static', filename=item['icon']) }}" alt="{{ item['label'] }}"/>
                    </a>
                </span>
                {% endfor %}
            </div>
        </div>
        <div class="content" role="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
