{% extends 'layout.html.j2' %}
{% block content %}
<div class="project-container">
    <h2>Projects</h2>
    <h3>Self-hosted on baremetal K8S Cluster</h3>
    <div>
        <ul class="project-links">
            <li class="project">
                <a rel="me" href="https://pve.dev">This Site</a>
                <span> - Blog and portfolio site</span>
            </li>
            <li class="project">
                <a rel="me" href="https://searx.pve.dev">SearXNG</a>
                <span> - Instance of SearXNG, a privacy-oriented meta-search engine</span>
            </li>
        </ul>
    </div>
    <h3>Deployed on AWS Lambda (Serverless)</h3>
    <ul class="project-links">
        <li class="project">
            <a rel="me" href="https://www.du-pl.com/">DU-PL</a>
            <span> - A crowdsource drink prices app, see </span>
            <a rel="me" href="{{ url_for('post', date='2020_6_2.yaml') }}">this blog post</a>
            <span>.</span>
        </li>
    </ul>
</div>
{% endblock %}