<?xml version='1.0' encoding='UTF-8'?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
         xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   
   {%- for page in static_pages -%}
   <url>
      <loc>{{ host_url + page }}</loc>
      <lastmod>{{ default_last_mod }}</lastmod>
   </url>
   {%- endfor -%}
   {%- for year in blog_posts -%}
      {%- for month in blog_posts[year]|sort(reverse=True) -%}
         {%- for day in blog_posts[year][month]|sort -%}
   <url>
      <loc>{{ url_for("post", date=(year|string + '_' + month|string + '_' + day|string)) }}</loc>
      <lastmod>{{ year }}-{{ '%02d' % month }}-{{ '%02d' % day }}</lastmod>
   </url>
         {%- endfor -%}
      {%- endfor -%}
   {%- endfor -%}
</urlset>