{% from 'macros.j2' import unique_id %}
{%- macro post_to_html(post, rss=false) -%}
{% for paragraph in post['body'] %}
    <div>
        {% if paragraph['section_title'] %}
            {% set title_tag='h3' %}
            {% if paragraph['title_tag'] %}
                {% set title_tag=paragraph['title_tag'] %}
            {% endif %}
            <{{ title_tag }}>
               {{ paragraph.section_title }}
            </{{ title_tag }}>
       {% endif %}
       {% if paragraph['text'] %}
           <p class="article-text">
               {# mark this safe so we can render hyperlinks from markdown #}
               {{ paragraph.text | safe }}
           </p>
       {% endif %}
       {% if paragraph['list'] %}
           <ul class="article-list article-text">
           {% for list_item in paragraph.list %}
               <li>{{ list_item }}</li>
           {% endfor %}
           </ul>
       {% endif %}
       {% if paragraph['sequence'] %}
           <ol class="article-list">
           {% for list_item in paragraph['sequence'] %}
               <li>{{ list_item }}</li>
           {% endfor %}
           </ol>
       {% endif %}
       {% if paragraph['code'] %}
            {% set code_id = unique_id() %}
            <div class="code-container" id="{{ code_id }}">
            {% if not rss %}
                <div class="code-header">
                    <div class="code-language">
                        {{ paragraph.code.type }}
                    </div>
                    <div class="code-actions">
                        <button class="copy-button" onclick="copyCodeSnippet('{{ code_id }}')">
                               Copy
                        </button>
                    </div>
                </div>
            {% endif %}
                <div class="code-body">
                {% if not rss %}
                    <div class="line-numbers line-numbers-background">
                    {% for line in paragraph['code']['content'].splitlines() %}
                        <span>{{ loop.index }}</span>
                    {% endfor %}
                    </div>
                {% endif %}
                    <pre>
                    {%- if rss -%}
                        <code class="code-text">{{ paragraph.code.content }}</code>
                    {%- else -%}
                        {%- for line in paragraph.code.content.splitlines() -%}
                        <code class="code-text line-highlight">{{line}}<br/></code>
                        {%- endfor -%}
                    {%- endif -%}
                    </pre>
                </div>
            </div>
       {% endif %}
       {% if paragraph['image'] %}
        <img class="blog-image" src="{{ url_for('static', filename=paragraph.image.file) }}" alt="{{ paragraph.image.alt }}" />
       {% endif %}
    </div>
{% endfor %}
{% endmacro %}
