div.project-container {
    margin: 20px;
    text-align: center;
}

h2 {
  padding: 5px;
}

h3 {
  padding: 5px;
}

ul.project-links {
  list-style-type: none;
  display: inline-block;
  line-height: 1.75;
  padding-bottom: 10px;
}

.project {
  text-align: left;
}

.project a {
  text-decoration: none;
}